.app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

#app-header {
  background-image: linear-gradient(135deg, #FEB692 0%, #EA5455 100%);
  height: calc(1rem * 1.5);
  padding: 1rem;
  font-size: calc(1rem * 1.5);
  color: white; }

#app-view {
  padding: 1rem;
  font-size: 1rem; }

.file-tabs {
  display: flex;
  flex-direction: row; }
  .file-tabs .grow {
    flex-grow: 1; }
  .file-tabs .file-tab {
    padding: 1rem;
    border-bottom: 2px solid #ccc; }
    .file-tabs .file-tab.selected {
      border-bottom: 2px solid black; }
