.app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

#app-header {
  background-image: linear-gradient(135deg, #FEB692 0%, #EA5455 100%);
  height: 4px;
  font-size: calc(1rem * 1.5);
  color: white; }

#app-view {
  font-size: 1rem; }

.grow {
  flex-grow: 1; }

.heading {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  flex-direction: row; }
  .heading .back {
    text-decoration: none; }
  .heading .title {
    padding: calc(1rem / 1.5);
    font-size: calc(1rem * 1.5); }

.control button {
  font-size: 1rem; }

.file-tabs {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-top: 1px solid #ccc; }
  .file-tabs .new-file {
    margin-left: 1rem;
    cursor: pointer; }
  .file-tabs .file-tab {
    text-decoration: none;
    color: #ccc;
    padding: 1rem; }
    .file-tabs .file-tab.selected {
      color: black; }
