@import './styles/_vars';

.app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#app-header {
  background-image: linear-gradient( 135deg, #FEB692 0%, #EA5455 100%);
  height: $md;
  padding: $sm;
  font-size: $md;
  color: white;
}

#app-view {
  font-size: $sm;
}

.grow {
  flex-grow: 1;
}

.heading {
  display: flex;
  padding: 0 $sm;
  align-items: center;
  flex-direction: row;
  .back {
    text-decoration: none;
  }
  .title {
    padding: $xs;
    font-size: $md;
  }
}

.control {
  button {
    font-size: $sm;
  }
}

.file-tabs {
  display: flex;
  align-items: center;  
  flex-direction: row;
  border-top: 1px solid #ccc;
  .new-file {
    margin-left: $sm;
    cursor: pointer;
  }
  .file-tab {
    text-decoration: none;
    color: #ccc;
    padding: $sm;
    &.selected {
      color: black;
    }
  }
}